<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="wrapper">
    <form action="/" method="post">
{{ #answers }}
<p>Your name is: {{ name }}</p>
<p>Your email is: {{ email }}</p>
<p>Your birth year is: {{ birthyear }}</p>
<p>Your position is: {{ position }}</p>
<p>Your password is: {{ password }}</p>
{{ /answers }}
</body>
</html>
