<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <form action="/" method="POST">
        <div class="header">
          <span class="title">CHECKLIST</span>
        </div>
        <div class="fields" id="fields">
          <input type="text" name="todo" placeholder ="To do list."  />
          <button type="submit">Add</button>
      </form>
          <ul>
            {{#todos}}
              <li>{{#complete}} <del> {{/complete}}
                {{text}}
                {{#complete }} </del> {{/complete }}
                <form action="/mark-complete/{{ id }} " method="POST">  <button name="completed">Completed</button></form>
              </li>
            {{/todos}}
          </ul>
        </div>
        <ul>
          {{ #errors }}
          <li>{{ msg }} value: {{ value }}</li>
          {{ /errors }}
        </ul>
  </body>
</html>
